<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket MC</title>
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/landingAnimations.css">
    <link rel="stylesheet" href="css/landingMotionPreference.css">
</head>
<body>
    <main>
        <nav class="nav">
            <p>TICKET MC</p>
            <!-- <img src="" alt="logo_TicketMc"> -->
            <ul>
                <li id="faq-directioner"><a href="#">FAQ</a></li>
                <li id="contact-directioner"><a href="#">Contacto</a></li>
                <li><a class="iniciar-sesion" href="#">Ingresar</a></li>
            </ul>
        </nav>
        <section class="banner">
            <div class="banner__container">
                <div class="banner__container--title">
                    <p>
                        Soluciona todos tus problemas con <span id="palabraRotatoria">facilidad</span> utilizando <span>TicketMC</span>
                    </p>
                </div>
                <div class="banner__container--mensaje">
                    <p>
                        La plataforma de gestión de tickets diseñada para <span>emprendedores</span> y <span>startups</span> que buscan llevar su soporte al siguiente nivel.
                    </p>
                </div>
            </div>
        </section>
        <section class="caracteristicas">
            <div id="caracteristicas__container" class="caracteristicas__container">
                <div class="caracteristicas__title">
                    <p>Características que impulsaremos en tu negocio</p>
                </div>
                <div class="caracteristicas__slider">
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_tickets.png" alt="ícono de gestión">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Gestión eficiente de tickets
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Organiza y resuelve tickets de soporte de manera rápida y efectiva con nuestro sistema intuitivo.
                            </p>
                        </div>
                    </article>
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_analitycs.png" alt="ícono de analíticas">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Análisis detallado
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Obtén insights valiosos con nuestras herramientas de análisis y reportes personalizados.
                            </p>
                        </div>
                    </article>
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_teamwork.png" alt="ícono de trabajo en equipo">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Colaboración en equipo
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Facilita la comunicación y el trabajo en equipo con funciones colaborativas avanzadas.
                            </p>
                        </div>
                    </article>
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_multicanal.png" alt="ícono multicanal">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Integración multicanal
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Centraliza todos tud canales de soporte en una sola plataforma para una gestión unificada
                            </p>
                        </div>
                    </article>
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_security.png" alt="ícono de seguridad">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Seguridad de datos
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Protege la información de tus clientes con nuestro sistema de seguridad de última generación
                            </p>
                        </div>
                    </article>
                    <article class="caracteristicas__card">
                        <div class="caracteristicas__card--icon">
                            <img src="img/landing_icon_automatización.png" alt="ícono de automatización">
                        </div>
                        <div class="caracteristicas__card--title">
                            <p>
                                Automatización inteligente
                            </p>
                        </div>
                        <div class="caracteristicas__card--description">
                            <p>
                                Ahorra tiempo y recursos con nuestras potentes herramientas de automatización de procesos
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="funcion">
            <div class="funcion__title">
                <p>¿Qué caracteriza a TicketMC?</p>
            </div>
            <div class="funcion__pasos">
                <article class="funcion__paso1">
                    <div class="funcion__paso2--title">
                        <p>Implementación sencilla</p>
                    </div>
                    <div class="funcion__paso1--text">
                        <p>Configura tu cuenta en minutos y personaliza la plataforma según tus necesidades</p>
                    </div>
                </article>
                <div class="funcion__img1">
                    <img src="img/landing_pasos1.png" alt="">
                </div>
                <div class="funcion__img2">
                    <img src="img/landing_pasos2.png" alt="">
                </div>
                <article class="funcion__paso2">
                    <div class="funcion__paso2--title">
                        <p>Gestión centralizada</p>
                    </div>
                    <div class="funcion__paso2--text">
                        <p>Recibe y organiza todos tus tickets de soporte en un solo lugar para una respuesta eficiente.</p>
                    </div>
                </article>
                <article class="funcion__paso3">
                    <div class="funcion__paso3--title">
                        <p>Mejora continua</p>
                    </div>
                    <div class="funcion__paso3--text">
                        <p>Analiza el rendimiento y optimiza tus procesos de atención al cliente con nuestras herramientas de análisis.</p>
                    </div>
                </article>
                <div class="funcion__img3">
                    <img src="img/landing_pasos3.png" alt="">
                </div>
            </div>
        </section>
        <section class="testimonio">
            <div class="testimonio__title">
                <p>Lo que dicen nuestros clientes</p>
            </div>
            <div class="testimonio__container">
                <article class="testimonio__card">
                    <div class="testimonio__card--text">
                        <p>TicketPro ha revolucionado nuestra atención al cliente. Ahora somos más eficientes y nuestros clientes están más satisfechos que nunca."</p>
                    </div>
                    <div class="testimonio__card--autor">
                        <p>Carlos Restrepo</p>
                    </div>
                    <div class="testimonio__card--autor-title">
                        <p>Desempleado profesional</p>
                    </div>
                </article>
                <article class="testimonio__card">
                    <div class="testimonio__card--text">
                        <p>Desde que implementamos TicketPro, hemos reducido nuestro tiempo de respuesta en un 40%. Es una herramienta imprescindible para cualquier startup en crecimiento.</p>
                    </div>
                    <div class="testimonio__card--autor">
                        <p>Sebastián Marín</p>
                    </div>
                    <div class="testimonio__card--autor-title">
                        <p>Bueno para perder hablar mierda</p>
                    </div>
                </article>
            </div>
        </section>
        <section id = 'faq' class="faq">
            <div class="faq__title">Preguntas frecuentes</div>
            <div class="faq__question__container">
                <details class="faq__question">
                    <summary class="faq__question--title">¿Cómo accedo a los servicios de TicketMC?</summary>
                    <p class="faq__question--response">TicketMC ofrece una plataforma altamanete personalizable. Para acceder a estos servicios se debe contactar directamente con el soporte para pactar una cita y obtener un servicio ideal.</p>
                </details>
                <details class="faq__question">
                    <summary class="faq__question--title">¿Cuánto tiempo lleva implementar TicketMC?</summary>
                    <p class="faq__question--response">Tras realizar la reunión con el equipo de TicketMC, la implementación de los cambios y la adaptación de las especificidades puede tardar aproximandamente una semana.</p>
                </details>
                <details class="faq__question">
                    <summary class="faq__question--title">¿Ofrecen capacitación para el equipo?</summary>
                    <p class="faq__question--response">Sí. Fuera de todos los tutoriales que hay en la plataforma, tras contratar nuetros servicios, tendrán una cantidad de reuniones de capacitación para la gestión y uso de la plataforma.</p>
                </details>
                <details class="faq__question">
                    <summary class="faq__question--title">¿Qué precio tiene TicketMC?</summary>
                    <p class="faq__question--response">TicketMC se amolda a las necesidades de sus clientes, ofreciendo precios diferentes según el alcance o las necesidades requeridos.</p>
                </details>
            </div>
        </section>
        <section id='contact' class="contact">
            <div class="contact__title">
                <p>
                    ¿Listo para revolucionar tu atención al cliente?
                </p>
            </div>
            <form action="" class="contact__form">
                <input type="text"
                        name="nombre" id="nombre"
                        placeholder="Nombre"
                        required
                >
                <input type="email"
                        name="email" id="email"
                        placeholder="Correo electrónico"
                        required
                >
                <input type="text"
                        name="empresa" id="empresa"
                        placeholder="Empresa"
                        required
                >
                <textarea name="mensaje" id="mensaje"
                    placeholder="Mensaje"
                    required
                ></textarea>
                <button>Solicitar Reunión</button>
            </form>
        </section>
        <footer>
            <p>© 2024 TicketMC. Todos los derechos reservados.</p>
        </footer>
    </main>
    <div id="up" class="up">
        <img src="img/landing_arrow.png" alt="flecha para subir">
    </div>
    <div id="cover" class="cover"></div>
    <script src="js/landing.js"></script>
    <script src="js/landingDarkTheme.js"></script>
</body>
</html>