:root{
    --bg-light-white: #FAFAFA;
    --bg-light-gray: #EBEBEB;
    --contour-color: #23333D;
    --box-shadow-color: #23333D49;
    --bg-contrast-color: #23333D;
    --btn-white-contrast: #dadadaa3;

    --main-color: #0095FF;
    --main-color-highlight: #0095FFd0;
    --main-contrast: #D000FF;
    --main-contrast-highlight: #D000FFa1;
    --main-color-nav: #0095FF;
    --main-color-nav-contrast: #31a8fe;

    --cancel-color: #DA1212;
    --cancel-color-highlight: #E23C3C;

    --font-base-color: #23333D;
    --font-contrast-dark: #FCFCFC;
    --font-base-contrast: #7D3EE6;
    --font-btn-white: #FCFCFC;

    --prio-alta: #EA2306;
    --prio-media: #577991;
    --prio-baja: #0095FF;

    --state-complete: #0D00FF;
    --state-onhold: #7D3EE6;
    --state-unseen: #577991;

    --tech-ticket-solution: #c1e4fc67;
    
}

/* ------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--font-base-color);
}

body, main, header, section, div, aside, span, ul, li, a, nav, button, h1, h2, h3, h4, p{
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------- */
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* --------------------------------------------------------------- */
/* Header */
/* --------------------------------------------------------------- */

header{
    height: 17%;
    width: 100vw;
    padding: 30px;
    position: relative;
    background-color: var(--bg-light-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px var(--box-shadow-color);
    z-index: 20;
}

header .logo p{
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
}

header .profile{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .profile span{
    font-weight: 600;
}

header .profile p{
    width: 40px;
    height: 40px;
    background-color: black;
    position: relative;
    border-radius: 50%;
}

header ul{
    background-color: black;
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    border-radius: 5px;
}

header ul::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 0;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    background-color: black;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 5px;
    width: 100%;
    text-align: end;
    background-color: black;
    color: white;
}

/* header .profile:hover ul{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
} */

/* header ul:hover ul{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: end;
} */

/* --------------------------------------------------------------- */
/* Contenedor general */
/* --------------------------------------------------------------- */

.container{
    height: 83%;
    width: 100%;
    display: flex;
    background-color: var(--bg-light-gray);
}

/* --------------------------------------------------------------- */
/* Navegador lateral */
/* --------------------------------------------------------------- */

.container__nav{
    width: 300px;
    height: 100%;
    position: relative;
    margin-left: 10px;
    padding: 35px 10px 40px;
    background-color: var(--main-color-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__nav--title{
    padding: 30px;
}

.container__nav--list{
    margin-top: 20px;
}

.container__nav--list li{
    list-style-type: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.container__nav--list li a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 12px 12px 12px 44px;
}

.container__nav--list li:hover{
    background-color: var(--main-color-nav-contrast);
    transition: .5s;
    cursor: pointer;
}

.container__nav--config > span{
    display: inline-block;
    width: 100%;
    padding: 12px 12px 12px 34px;
    border-radius: 5px;
}

.container__nav--config span:hover{
    cursor: pointer;
    background-color: var(--main-color-nav-contrast);
    transition: .5s;
}

/*Modal de configuración de preferencias de usuario*/

.nav--config-modal{
    width: 400px;
    background-color: var(--bg-light-white);
    padding: 20px 20px 35px;
    border: 1px solid var(--contour-color);
    border-radius: 5px;
}

.nav--config-modal .config-modal--title{
    color: var(--font-base-color);
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.nav--config-modal .config-modal--title h3{
    font-weight: 600;
    font-size: 18px;
}

.nav--config-modal .config-modal--title p{
    font-weight: 200;
    font-size: 14px;
    opacity: .7;
}

.nav--config-modal .config-modal--title .config-modal--exit{
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    transition: transform .3s ease;
}

.nav--config-modal .config-modal--title .config-modal--exit:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.nav--config-modal .config-modal--profile{
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.nav--config-modal .config-modal--profile button{
    width: 100%;
    padding: 7px 0;
    background-color: transparent;
    border: 1px solid var(--contour-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--bg-contrast-color);
    transition: background-color .3s ease-out;
}

.nav--config-modal .config-modal--profile button:hover{
    cursor: pointer;
    background-color: var(--bg-light-gray);
    outline-offset: 2px;
    outline: 1px solid var(--contour-color);
}

.nav--config-modal .config-modal--mailing{
    padding: 5px 0;
}

.nav--config-modal .config-modal--mailing h4,
.nav--config-modal .config-modal--aparience h4{
    font-weight: 600;
    font-size: 14px;
}

.nav--config-modal .modal--mailling--input_container,
.nav--config-modal .modal--aparience--input_container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.nav--config-modal .config-modal--mailing p,
.nav--config-modal .config-modal--aparience p{
    font-weight: 200;
    font-size: 12px;
}

.nav--config-modal > button{
    width: 100%;
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14   px;
    margin-top: 15px;
    color: var(--font-btn-white);
    background-color: var(--cancel-color);
}

.nav--config-modal > button:hover{
    background-color: var(--cancel-color-highlight);
    cursor: pointer;
}

.nav--config-modal > button img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.nav--config-modal > button img:hover{
    cursor: pointer;
}


/*slider checkbox*/

.config-modal--switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.config-modal--switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.switch-slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.config-modal--switch input:checked + .switch-slider {
    background-color: var(--main-color);
}

.config-modal--switch input:checked + .switch-slider::before {
    transform: translateX(26px);
}
/* --------------------------------------------------------------- */
/* Buscador y filtro */
/* --------------------------------------------------------------- */

.container__ticket{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 35px 21px;
}

/*Botones*/
.container__ticket--type button{
    height: 20px;
    width: 130px;
    border: none;
    background-color: var(--bg-light-white);
}

.container__ticket--type button:hover{
    cursor: pointer;
    background-color: var(--bg-light-gray);
    transition: .5s;
}

.container__ticket--type button:first-child{
    background-color: var(--bg-light-gray); /*Se pondrá con función*/
}

.container__ticket--type button:last-child{
    border: 1px solid var(--contour-color);
}

/*Buscador*/
.container__ticket--searcher{
    margin: 25px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__ticket--searcher div input{
    width: 275px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: var(--bg-light-white);
    border: 1px solid var(--contour-color);

}

.container__ticket--searcher div input:focus{
    outline-color: var(--contour-color);
}

.container__ticket--searcher div button{
    width: 175px;
    height: 24px;
    background-color: var(--bg-light-white);
    border: 1px solid var(--contour-color);
}

.container__ticket--searcher div button::before{
    content: "Filtrar";
}

.container__ticket--searcher div button:hover{
    cursor: pointer;
    background-color: var(--bg-light-gray);
    transition: .5s;
}

/* --------------------------------------------------------------- */
/* Contenedor de tickets */
/* --------------------------------------------------------------- */

.container__ticket--ticket{
    width: 100%;
    height: 100%;
    padding: 15px 0 35px 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    grid-auto-rows: 180px;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    /* display: none; */
}

/* --------------------------------------------------------------- */
/* Tickets */
/* --------------------------------------------------------------- */


.ticket{
    width: 290px;
    height: 185px;
    padding: 20px;
    position: relative;
    background-color: var(--bg-light-white);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: transform .3s ease-out, filter .1s ease-in;
}

.ticket:hover{
    cursor: pointer;
    filter: contrast(1.02);
    transform: scale(1.03);
}

.ticket .ticket--title{
    width: 100%;
}

.ticket .ticket--title .title--name{
    font-size: 20px;
    font-weight: 600;
}

.ticket .ticket--title .title--prio{
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--prio-alta);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.ticket .ticket--description{
    width: 100%;
    height: 45px;
    margin: 12px 0;
    overflow: hidden;
}

.ticket .ticket--description p{
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    text-wrap: pretty;
}

.ticket .ticket--state span{
    display: inline-block;
    text-align: center;
    padding: 2px 15px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    background-color: var(--state-onhold);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.ticket-hidden-info{
    display: none;
}

/* --------------------------------------------------------------- */
/* Detalles del ticket - Contenedor */
/* --------------------------------------------------------------- */

.container__ticket--details{
    width: 650px;
    max-height: 420px;
    padding: 0 15px 15px 15px;
    box-shadow: 0 0px 3px var(--box-shadow-color); 
    position: absolute;
    top: calc(50% - 250px);
    left: calc((100% - (100% - 380px)) / 2);
    background-color: var(--bg-light-white);
    border: 1px solid var(--contour-color);
    scrollbar-width: thin;
    z-index: 25;
    transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.container__ticket--details::backdrop{
    position: relative;
}

.container__ticket--details .details{
    height: 100%;
}

/* --------------------------------------------------------------- */
/* Detalles del ticket - Info */
/* --------------------------------------------------------------- */

.details .details__header--container{
    padding: 15px 0;
    position: sticky;
    top: 1px;
    background: linear-gradient(var(--bg-light-white) 85%,
                                transparent);
    height: 100%;
}

.details .details__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details .details__header--title h2{
    font-size: 20px;
    font-weight: 600;
}

.details .details__header--response button{
    padding: 5px 15px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid var(--contour-color);
    border-radius: 5px;
    transition: background-color .3s ease-in, transform .3s ease;
}

.details .details__header--response button:hover{
    cursor: pointer;
    background-color: var(--bg-light-gray);
    transform: scale(1.03);
}

.details .details__data{
    width: 100%;
    padding: 15px 0 0 10px;
    font-size: 12px;
}

.details .details__data p span:first-child{
    font-weight: 600;
}

.details .details__data .details--state{
    display: inline-block;
    text-align: center;
    padding: 2px 15px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--state-onhold);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.details .details__data .details--prio{
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--prio-alta);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.details .details__data--state{
    display: flex;
    gap: 15px;
}

.details .details__data--date{
    padding: 10px 0;
}

.details .details__description{
    width: 100%;
    margin: 0px 0 15px 10px;
    padding-right: 10px;
    font-size: 16px;
    overflow: auto;
    text-wrap: pretty;
}

.details .details__images{
    width: 100%;
    padding: 15px 15px 0 15px;
    font-size: 14px;
    overflow-x: hidden;
}

.details .details__images div{
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 5px;
    overflow-x: auto;
} 

.details .details__images div p{
    display: inline-block;
    width: 170px;
    height: 170px;
    background-color: blueviolet;
    flex-shrink: 0;
}

/* --------------------------------------------------------------- */
/* Resolver tickets */
/* --------------------------------------------------------------- */

.container__resolve{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: none;
}

.container__resolve--title{
    padding: 20px 0;
}

.container__resolve--title h2{
    font-size: 26px;
    font-weight: 600;
}

.container__resolve--response{
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    gap: 20px;
}

.resolve--response-ticket{
    display: flex;
    flex-direction: column;
}

.resolve--response-ticket > div h3{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.response-ticket-container{
    background-color: var(--bg-light-white);
    border-radius: 10px;
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.response-ticket-title{
    font-weight: 600;
    margin-bottom: 15px;
}

.response-ticket-prio{
    margin-bottom: 60px;
    font-size: 14px;
}

.response-ticket-prio .response-ticket-prio__data{
    display: inline-block;
    text-align: center;
    padding: 2px 15px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--state-onhold);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.response-ticket-description{
    padding: 0 10px;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
}

.response-ticket-description p{
    text-wrap: pretty;
    font-size: 14px;
}

.resolve--response-answer{
    display: flex;
    flex-direction: column;
}

.resolve--response-answer h3{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    flex-grow: 0;
}

.resolve--response-answer textarea{
    padding: 20px;
    width: 100%;
    font-size: 14px;
    flex-grow: 10;
    resize: none;
    margin-bottom: 15px;
    background-color: var(--bg-light-white);
    border-radius: 10px;
    border: none;
    scrollbar-width: thin;
}

.resolve--response-answer textarea:focus{
    outline: 1px solid var(--contour-color);
}

.resolve--response-answer input{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--bg-light-white);
    cursor: pointer;
}

.resolve--response-answer input::file-selector-button {
    padding: 6px 12px;
    background-color: var(--main-color);
    color: var(--font-btn-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.resolve--response-answer input::file-selector-button:hover {
    background-color: var(--main-color-highlight);
}

.resolve--response-answer input:hover {
    outline: 1px solid var(--contour-color);
}

.resolve--response-answer h4 {
    padding-bottom: 7px;
}

.response-answer-btn{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.response-answer-btn button{
    padding: 8px 15px;
    border: none;
    background-color: var(--main-color);
    color: var(--font-btn-white);
    font-weight: 600;
    border-radius: 5px;
    margin-right: 10px;
    outline: 1px solid var(--contour-color);
    transition: background-color .3s ease;
}

.response-answer-btn .response-answer-btn-cancel{
    padding: 10px 15px;
    color: var(--font-base-color);
    background-color: var(--bg-light-white);
}

.response-answer-btn .response-answer-btn-cancel:hover{
    cursor: pointer;
    padding: 10px 15px;
    color: var(--font-base-color);
    background-color: var(--bg-light-white);
    background-color: transparent;
}

.response-answer-btn button img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.response-answer-btn button:hover{
    background-color: var(--main-color-highlight);
    cursor: pointer;
}

/* --------------------------------------------------------------- */
/* Ver historial de ticket */
/* --------------------------------------------------------------- */

.container__history{
    width: 100%;
    height: 100%;
    padding: 15px 0 35px 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    grid-auto-rows: 180px;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: none;
}

/* --------------------------------------------------------------- */
/* Ver historial de ticket */
/* --------------------------------------------------------------- */

.container__completed{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 21px;
    display: none;
}

.container__completed--ticket{
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: var(--bg-light-white);
    margin-top: 20px;
}

.container__completed--ticket:hover{
    outline: 1px solid var(--contour-color);
}

.completed--ticket-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.completed--ticket-title h2{
    font-weight: 600;
    font-size: 20px;
}

.completed--ticket-title span{
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--state-complete);
    color: var(--font-btn-white);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

.completed--ticket-solution,
.completed--ticket-problem{
    margin: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--tech-ticket-solution);
}

.ticket-solution-title,
.ticket-problem-title{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.completed--ticket-solution h3,
.completed--ticket-problem h3{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.completed--ticket-problem{
    background-color: var(--bg-light-gray);
}

.completed--ticket-details{
    margin-top: 45px;
}

.completed--ticket-details button{
    padding: 7px 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: var(--font-btn-white);
    background-color: var(--main-color);
    transition: background-color .3s ease-in, transform .3s ease;
}

.completed--ticket-details button:hover{
    transform: scale(1.05);
    background-color: var(--main-color-highlight);
    cursor: pointer;
    outline: 1px solid var(--contour-color);
}

/*Modal detalles de la respuesta*/

.details__header--container-response{
    position: relative !important;
    top: 1px !important;
}

.details__response{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--tech-ticket-solution);
}

.details__response--title{
    font-size: 20px;
    margin-bottom: 20px;
}

.details__response--data{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    margin-bottom: 10px;
}

.response--data-tech{
    font-weight: 600;
}

.details__response--description{
    padding: 15px;
    font-size: 14px;
}

/* --------------------------------------------------------------- */
/* Crear ticket */
/* --------------------------------------------------------------- */

.container__ticket--create{
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: filter .2s ease, transform .2s ease;
}

.container__ticket--create:hover{
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.03);
}

.container__ticket--create .create--icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__ticket--create .create--icon img{
    height: 25px;
    width: 25px;
}

/*Modal de creación*/

.create__ticket {
    background-color: var(--bg-light-white);
}

    /*titulo general*/
.container__ticket--create .create__ticket{
    padding: 20px;
    border: none;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 5px;
}

.container__ticket--create .create__ticket:hover{
    cursor: default;
}

.create__ticket--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.create__ticket--title h3{
    font-size: 18px;
    font-weight: 600;
}

.create__ticket--title > div{
    transition: transform .15s ease-in;
}

.create__ticket--title > div:hover{
    cursor: pointer;
    transform: scale(1.3);
}

    /*Nombre, descripción y prioridad del ticket*/
.create__ticket--name,
.create__ticket--description,
.create__ticket--prio{
    padding: 10px 0;
}

.create__ticket--name .ticket--name-container,
.create__ticket--description .ticket--description-container{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.create__ticket--name .ticket--name-container input,
.create__ticket--description .ticket--description-container textarea{
    border: 1px solid var(--contour-color);
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: transparent;
}

.create__ticket--prio > label,
.create__ticket--img > label{
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 600;
}

.create__ticket--description .ticket--description-container textarea{
    resize: vertical;
    min-height: calc(3rem + 30px);
    max-height: calc(3rem + 30px + 7rem);
    scrollbar-width: thin;
}

.create__ticket--prio .ticket--prio-container{
    font-size: 14px;
}

.create__ticket--prio > label{
    margin-bottom: 7px;
}
    /*imagenes adjuntss*/
.ticket--img-container{
    padding-bottom: 10px;
}

.ticket--img-container:hover{
    cursor: pointer;
    transition: filter .3s ease;
}

.ticket--img-container p{
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.ticket--img-container p:hover{
    filter: opacity(.7);
}

.ticket--img-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.ticket--img-container input::file-selector-button{
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.ticket--img-container input::file-selector-button:hover{
    cursor: pointer;
}

    /*botones modal*/

.create__ticket--btn{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.create__ticket--btn button{
    font-weight: 600;
    border: 1px solid var(--contour-color);
    padding: 7px 10px;
    border-radius: 7px;
    transition: filter .3s ease, background-color .3s ease;
}

.create__ticket--btn button:first-child{
    background-color: transparent;
    color: var(--font-base-color);
    margin-right: 10px;
    transition: background-color .3s ease-out, transform .3s ease4;
}

.create__ticket--btn button:first-child:hover{
    cursor: pointer;
    background-color: var(--bg-light-gray);
    transform: scale(1.03);
}

.create__ticket--btn button:last-child{
    color: var(--font-btn-white);
    background-color: var(--main-color);
}

.create__ticket--btn button:last-child:hover{
    background-color: var(--main-color-highlight);
    cursor: pointer;
}

/* --------------------------------------------------------------- */
/* Media queries */
/* --------------------------------------------------------------- */

@media (min-width: 1450px) {

    .container__ticket--details {
        width: 900px;
    }

    .details .details__description p {
        height: 100%;
    }

    .details .details__images div p{
        width: 200px;
    }
}

@media (min-width: 1280px) and (max-width: 1520px) {
    
    .container__ticket--details {
        width: calc(650px + (100vw - 1280px));
    }

    .details .details__images div p{
        width: calc(170px + (100vw - 1280px)/10);
    }

}

@media (max-width: 1450px) {

    .details .details--description {
        font-size: 14px;
    }
}

@media (max-width: 1360px) {

    .details .details--description {
        font-size: 13px;
    }
}

@media (max-width: 920px) {

    .container__nav{
        display: none;
    }

    .container__ticket--filters{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container__ticket--type{
        order: 2;
    }

    .container__ticket--searcher{
        gap: 15px;
        margin: 0;
    } 

    .container__ticket--details{
        left: calc((100% - (100% - 20px)) / 2);
    }
}

@media (max-width: 800px) {

    .container__ticket--type{
        display: none;
    }

    .container__ticket--searcher{
        justify-content: center;
    }
}

@media (max-width: 680px) {

    .ticket{
        width: 350px;
    }

    .container__ticket--searcher div:last-child button:first-child{
        width: 30px;
    }

    .container__ticket--searcher div:last-child button:first-child::before{
        content: "<";
    }

    .container__ticket--ticket{
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 350px);
    }

    .container__ticket--details{
        width: 370px;
    }

    .details .details__description{
        height: 140px;
    }

    .details__description p{
        height: 100%;
    }

    .details .details__images div p{
        width: 160px;
    }
}

@media (min-width: 500px) and (max-width: 800px) {

    .container__ticket--details {
        width: calc(650px - (800px - 100vw));
    }
}

/* --------------------------------------------------------------- */
/* Clases para estilización posterior */
/* --------------------------------------------------------------- */

.filter-contrast{
    filter: invert(1);
}