<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMC | Usuario</title>
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="css/userAnimaciones.css">
    <link rel="stylesheet" href="css/userMotionPreference.css">
</head>
<body>
    <nav class="nav">
        <p>TICKET MC</p>
        <!-- <img src="" alt="logo_TicketMc"> -->
        <ul>
            <li>
                <!-- <a class="acount" href="#">
                <img src="#" alt="imagen de perfil">
                </a> -->
                <p></p>
            </li>
        </ul>
    </nav>
    <section class="main-container">
        <main class="user">
            <section class="user__container">
                <article class="user__container--profile user__options">
                    <img src="img/User_icon_user.png" alt="foto de perfil">
                    <h3>Información personal</h3>
                    <p>Nombre: <span>info</span></p>
                    <p>Correo electrónico: <span>info</span></p>
                    <p>Teléfono: <span>info</span></p>
                </article>
                <article class="user__container--tickets user__options">
                    <div>
                        <img src="img/User_icon_tickets.png" alt="ícono de tickets">
                        <h3>Visualizar tickets</h3>
                    </div>
                    <p>Revisa y gestiona tus tickets actuales y pasados.</p>
                    <button>Ver tickets</button>
                </article>
                <article class="user__container--data user__options">
                    <div class="options--title">
                        <img src="img/User_icon_user.png" alt="ícono de usuario">
                        <h3>Modificación de la cuenta</h3>
                    </div>
                    <p>Actualiza tu información personal y de contacto.</p>
                    <div class="options--data-btn">
                        <button id="user-data">Editar perfil</button>
                        <button id="user-pass">Cambiar contraseña</button>
                        <dialog id="options--data-modal" class="options--data-modal">
                            <div class="data-modal-title">
                                <h3>Cambiar contraseña</h3>
                                <p id="data-modal-close">x</p>
                            </div>
                            <form action="" id="data-modal-pass" class="data-modal-pass">
                                <div class="data-modal-input">
                                    <input type="password"
                                            name="" id="user--pass-old" class=""
                                            placeholder="Contraseña"
                                            required
                                    >
                                    <label for="">Contraseña</label>
                                </div>
                                <div class="data-modal-input ">
                                    <input type="password"
                                            name="" id="user--pass-new" class=""
                                            placeholder="Nueva contraseña"
                                            required
                                    >
                                    <label for="">Nueva contraseña</label>
                                </div>
                                <div class="data-modal-input">
                                    <input type="password"
                                            name="" id="user--pass-new2" class=""
                                            placeholder="Confirmar nueva contraseña"
                                            required
                                    >
                                    <label for="">Confirmar nueva contraseña</label>
                                </div>
                                <button id="saveNewPassBtn" type="submit">Guardar cambios</button>
                                <dialog id="confirmChangePass" class="confirmChangePass">
                                    <h3>¿Está seguro que desea cambiar la contraseña?</h3>
                                    <div>
                                        <button id="confirmChangePass-cancel">Cancelar</button>
                                        <button id="confirmChangePass-confirm">Confirmar</button>
                                    </div>
                                </dialog>
                            </form>
                        </dialog>
                    </div>
                    <dialog id="modalUser" class="modal modalUser">
                        <div class="modal__titulo">
                            <div class="modal__titlo--img">
                                <img src="img/User_icon_user.png" alt="ícono de usuario">
                            </div>
                            <div class="modal__titulo--name">
                                <h3>Editar perfil</h3>
                            </div>
                        </div>
                        <div class="modal__contenido">
                            <div class="modal__contenido--datos-usuario">
                                <form action="" id="modal__contenido--datos-usuario-form" class="modal__contenido--datos-usuario-form">
                                    <div class="modal__contenido--foto-perfil">
                                        <img src="img/User_icon_user.png" alt="imagen de perfil">
                                        <input type="file" 
                                        name="userPhoto" id="userPhoto"
                                        accept="image/*"
                                        >
                                        <label for="userPhoto">Cambiar foto de perfil</label>
                                    </div>
                                    <div class="modal__contenido--formData">
                                        <div class="modal__contenido--datos-titulo">
                                            <h4>Datos personales</h4>
                                        </div>
                                        <div class="modal__contenido--input">
                                            <input type="text"
                                                    id="updateUserData__nombre" class="nombre"
                                                    placeholder="Nombre"
                                                    required
                                            >
                                            <label for="">Nombre</label>
                                            <label id="contenido--input_errorName">Nombre no válido</label>
                                        </div>
                                        <div class="modal__contenido--input">
                                            <input type="email"
                                                    id="updateUserData__correo" class="correo"
                                                    placeholder="Correo"
                                                    required
                                            >
                                            <label for="" id="label-input-correo">Correo</label>
                                            <label id="contenido--input_errorEmail">Correo no válido</label>
                                        </div>
                                        <div class="modal__contenido--input">
                                            <input type="number"
                                                    id="updateUserData__tel" class="teltefono"
                                                    placeholder="Teléfono"
                                                    required min="0"
                                            >
                                            <label for="">Teléfono</label>
                                            <label id="contenido--input_errorNum">Número no válido</label>
                                        </div>
                                        <button type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </dialog>
                </article>
                <article class="user__container--stats user__options">
                    <div class="options--title">
                        <img src="img/User_icon_analitycs.png" alt="ícono de estadísticas">
                        <h3>Estadísticas de tickets</h3>
                    </div>
                    <p>Visualiza métricas y análisis de tus tickets.</p>
                    <button id="stats-data">Ver estadísticas</button>
                    <dialog id="modalStats" class="modal modalStats">
                        <div class="modal__titulo">
                            <div class="modal__titlo--img">
                                <img src="img/User_icon_analitycs.png" alt="ícono de usuario">
                            </div>
                            <div class="modal__titulo--name">
                                <h3>Estadísticas</h3>
                            </div>
                        </div>
                        <div class="modal__contenido">
                            
                        </div>
                    </dialog>
                </article>
                <article class="user__container--support user__options">
                    <div class="options--title">
                        <img src="img/User_icon_bell.png" alt="ícono de soporte">
                        <h3>Soporte</h3>
                    </div>
                    <p>Obtén ayuda y soporte para usar TicketMC.</p>
                    <button id="help-data">Contactar soporte</button>
                    <dialog id="modalHelp" class="modal modalHelp">
                        <div class="modal__titulo">
                            <div class="modal__titlo--img">
                                <img src="img/User_icon_bell.png" alt="ícono de usuario">
                            </div>
                            <div class="modal__titulo--name">
                                <h3>Soporte técnico</h3>
                            </div>
                        </div>
                        <div class="modalHelp__contenido">   
                            <div class="modal__contenidoHelp--informacion">
                                <p>Si tiene algún problema con la plataforma o duda sobre el servicio, comuníquese con nuestro equipo técnico</p>
                            </div>
                            <form id="modalHelp__contenido--form">
                                <div class="modalHelp__contenido--asunto">
                                    <label for="">Asunto</label>
                                    <input type="text"
                                        name="asunto" id="modalHelpInput--asunto" 
                                        class="contenido--asunto-input"
                                        required
                                    >
                                </div>
                                <div class="modal__contenido--descripcion">
                                    <label for="">Mensaje</label>
                                    <textarea name="mensaje" id="modalHelpInput--mensaje" 
                                            class="contenido--descripcion-input"
                                            required
                                    >
                                    </textarea>
                                </div>
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                    </dialog>
                </article>
                <article class="user__container--close user__options">
                    <div class="options--title">
                        <img src="img/User_icon_exit.png" alt="ícono de cerrar sesión">
                        <h3>Cerrar sesión</h3>
                    </div>
                    <p>Cierra tu sesión actual en TicketMC.</p>
                    <button id="closeBtn">Cerrar sesión</button>
                    <dialog id="modalClose" class="modalClose">
                        <h3>Cerrar sesión</h3>
                        <p>¿Está seguro que desea que desea cerrar sesión?</p>
                        <div class="modalClose__btns">
                            <button id="modalClose__btns--close">Cancelar</button>
                            <button>Cerrar sesión</button>
                        </div>
                    </dialog>
                </article>
            </section>
            <div id="curtain" class="curtain"></div>
        </main>
        <div id="bg-decoration"></div>
    </section>
    <script src="js/user.js"></script>
    <script src="js/userPassModal.js"></script>
    <script src="js/userDarkTheme.js"></script>
    
    <script src="../../services/userModificarDatos.js"></script>
    <script src="../../services/userChangePass.js"></script>
    <script src="../../services/userSupportRequiest.js"></script>
</body>
</html>