@media (prefers-reduced-motion: reduce) {
    .aparicionModalUser{
        animation: none;
    }

    .aparicionModalStats{
        animation: none;
    }

    .aparicionModalHelp{
        animation: none;
    }

    .aparicionModal800px{
        animation: none;
    }
}