:root{
    --bg-light-white: #FAFAFA;
    --bg-light-gray: #EBEBEB;
    --contour-color: #23333D;
    --box-shadow-color: #23333D49;
    --bg-contrast-color: #23333D;
    --box-shadow-color_2: #23333D;
    --btn-white-contrast: #dadadaa3;

    --main-color: #0095FF;
    --main-color-highlight: #0095FFd0;
    --main-contrast: #D000FF;
    --main-contrast-highlight: #D000FFa1;
    --main-color-nav: #0095FF;
    --main-color-nav-contrast: #31a8fe;

    --font-base-color: #23333D;
    --font-contrast-dark: #FCFCFC;
    --font-base-contrast: #7D3EE6;
    --font-btn-white: #FCFCFC;
    
    --cancel-color: #DA1212;
    --cancel-color-highlight: #E23C3C;

    --user-width: 800px;
    --user-height: 550px;
    --curtain-top: 20px;
    --curtain-right: 63px;
    --curtain-animation-top: 28px;
    --curtain-animation-right: 89px;
}

/* ------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: var(--font-base-color);
    scrollbar-width: thin;
}

body, main, header, section, div, aside, span, ul, li, a, nav, button, h1, h2, h3, h4, p{
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------- */

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-light-gray);
}

/* --------------------------------------------------------------- */
/* Nav bar */
/* --------------------------------------------------------------- */

.nav{
    width: 100%;
    height: 12%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-light-white);
    box-shadow: 0 1px 10px var(--box-shadow-color);
    z-index: 40;
}

.nav p{
    font-weight: 600;
    font-size: 30px;
    color: var(--main-color);
}

.nav p:hover{
    font-weight: 600;
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}


.nav ul li p{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-light-gray);
}

/* --------------------------------------------------------------- */
/* Main container */
/* --------------------------------------------------------------- */

.main-container{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light-gray);
}

/* --------------------------------------------------------------- */
/* Contenedor de contenido */
/* --------------------------------------------------------------- */

.user{
    width: var(--user-width);
    height: var(--user-height);
    display: flex;
    align-items: center;
    position: relative;
}

/* --------------------------------------------------------------- */
/* Opciones del usuario */
/* --------------------------------------------------------------- */

.user__container{
    width: 100%;
    height: calc(100% - 54px);
    padding: 0 30px;
    display: grid;
    gap: 10px 30px;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4, 1fr);
}

.user__options{
    width: 80%;
    padding: 15px;
    justify-self: left;
    align-self: center;
    position: relative;
    border-radius: 10px;
    background-color: var(--bg-light-white);
    box-shadow: 0 0px 5px var(--box-shadow-color);
    z-index: 20;
    transition: transform .3s ease-out;
}

.user__options:not(:first-child):hover{ 
    transform: scale(1.03);
}

.user__options h3{
    font-size: 18px;
}

.user__options p{
    font-size: 12px;
    padding: 5px 0 10px;
}

.user__options button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--font-btn-white);
    font-weight: 600;
}

.user__options:last-child button{
    background-color: var(--cancel-color);
}

.user__options:last-child button:hover{
    background-color: var(--cancel-color-highlight);
}

.user__options button:hover{
    cursor: pointer;
    background-color: var(--main-color-highlight);
}

.user__options .options--title{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.user__options img{
    height: 20px;
    width: 20px;
}

/*Estilo datos del perfil*/

.user__container--profile{
    width: 90%;
    height: 100%;
    position: relative;
    justify-self: end;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__container--profile img{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    align-self: center;
}

.user__container--profile h3{
    padding: 5px;
}

.user__container--profile p{
    padding: 5px;
    font-weight: 600;
}

/*Etilización sección tickets*/
.user__container--tickets{
    width: 90%;
    height: 100%;
    position: relative;
    justify-self: end;
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__container--tickets img{
    width: 75px;
    height: 75px;
}

.user__container--tickets p{
    padding: 10px 0 15px;
}

.user__container--tickets button{
    padding: 10px;
}

/*Etilización sección de modificar datos usuario*/

.user__container--data .options--data-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    gap: 10px;
}

.user__container--data .options--data-btn #user-pass{
    color: var(--main-color);
    background-color: var(--font-btn-white);
    border: 1px solid var(--contour-color);
}

.user__container--data .options--data-btn #user-pass:hover{
    filter: contrast(.85);
}

/* --------------------------------------------------------------- */
/* Modal */
/* --------------------------------------------------------------- */

/*Cortina para la animación*/

.curtain{
    width: 355px;
    height: 115px;
    background-color: var(--bg-light-white);
    position: absolute;
    display: none;
    top: var(--curtain-top);
    right: var(--curtain-right);
    z-index: 30;
}

/*Estilización modal*/

.modal{
    position: fixed;
    top: 12%;
    right: 1%;
    padding: 20px;
    width: calc(var(--user-width)*0.855);
    height: calc(var(--user-height)*0.92);
    z-index: 30;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.modal__titulo{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal__titlo--img img{
    width: 40px;
    height: 40px;
}

.modal__titulo .modal__titulo--name h3{
    font-weight: 600;
    font-size: 30px; 
}

.modal__contenido{
    width: 100%;
    height: calc(100% - 70px);
    padding: 0 20px 50px;
    display: grid;
    grid-template-columns: 40% 60%;
}

/*Dada la complejidad de cada modal, serán estilizados y creados de manera diferente*/

/*Modal configuración detos de usuario*/

.modalUser{
    background-color: var(--bg-light-white);
}

.modalUser .modal__contenido{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.modalUser .modal__contenido--datos-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modalUser .modal__contenido--datos-usuario form{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    gap: 15px;
}

.modalUser .modal__contenido--foto-perfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modalUser .modal__contenido--foto-perfil input[type="file"]{
    display: none;
}

.modalUser .modal__contenido--foto-perfil label{
    padding: 15px 10px;
    display: hidden;
    font-size: 14px;
}

.modalUser .modal__contenido--foto-perfil label:hover{
    cursor: pointer;
}

.modalUser .modal__contenido--foto-perfil img{
    height: 150px;
    width: 150px;
}

.modalUser .modal__contenido--formData{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
}

.modalUser .modal__contenido--formData .modal__contenido--datos-titulo{
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.modalUser .modal__contenido--formData .modal__contenido--input{
    position: relative;
}

.modalUser .modal__contenido--formData .modal__contenido--input input{
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--contour-color);
}

.modalUser .modal__contenido--formData .modal__contenido--input label{
    position: absolute;
    left: 8px;
    padding-inline: 4px;
    top: 14px;
    background-color: transparent;
    pointer-events: none;
    transition: top 0.2s ease-out, font-size 0.5s ease-out, color 0.5s ease-out;
    color: transparent;
}

.modalUser .modal__contenido--formData .modal__contenido--input input:focus + label{
    padding: 5px;
    top: -12px;
    font-size: 12px;
    color: var(--main-color);
    background-color: var(--bg-light-white);
}

.modalUser .modal__contenido--formData .modal__contenido--input input:focus::placeholder{
    color: transparent;
}

.modalUser .modal__contenido--formData .modal__contenido--input label:last-child{
    display: none;
    font-size: 12px;
    top: -15px;
    left: calc(100% - 110px);
    animation: warning 2s ease-out infinite;
}

.modalUser .modal__contenido--formData button{
    margin-top: 10px;
    height: 35px;
}

/*Modal estadísticas*/

.modalStats{
    background-color: var(--bg-light-white);
}

/*Modal soporte*/

.modalHelp{
    background-color: var(--bg-light-white);
}

.modalHelp__contenido .modal__contenidoHelp--informacion p{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.modalHelp__contenido form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;   
}

.modalHelp__contenido form div{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.modalHelp__contenido form div label{
    font-size: 16px;
    padding: 5px 0;
}

.modalHelp__contenido form div input{
    height: 35px;
}

.modalHelp__contenido form div input:focus,
.modalHelp__contenido form div textarea:focus{
    outline: 1px solid var(--main-color);
}

.modalHelp__contenido form div textarea,
.modalHelp__contenido form div input{
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--contour-color);
}

.modalHelp__contenido form div textarea{
    min-height: 6rem;
    resize: none;
}

.modalHelp__contenido form button{
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
}

/*Modal cerrar sesión*/

.modalClose{
    width: 400px;
    padding: 15px;
    border: 1px solid var(--contour-color);
    box-shadow: 0 0 10px var(--box-shadow-color);
    background-color: var(--bg-light-white);
}

.user__container--close .modalClose h3{
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.user__container--close .modalClose p{
    font-size: 14px;
    padding: 7px 5px 10px;
}

.user__container--close .modalClose div{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.user__container--close .modalClose div button{
    padding: 5px 10px;
}

.user__container--close .modalClose div button:first-child{
    background-color: var(--bg-light-white);
    color: var(--font-base-color);
    border: 1px solid var(--font-base-color);
}

.user__container--close .modalClose div button:first-child:hover{
    background-color: var(--bg-light-gray);
}

/*Modal cambiar contraseña*/

.options--data-btn .options--data-modal{
    width: 400px;
    padding: 20px;
    background-color: var(--bg-light-white);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color_2);
}

.options--data-modal .data-modal-title{
    display: flex;
    justify-content: space-between;
}

.options--data-modal .data-modal-title h3{
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
}

.options--data-modal .data-modal-title p{
    font-size: 18px;
    padding-right: 5px;
    transition: transform .2s ease-in;
}

.options--data-modal .data-modal-title p:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.options--data-modal .data-modal-pass .data-modal-input{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 7px 0;
    position: relative;
}

.data-modal-pass .data-modal-input label{
    font-size: 15px;
    padding: 0 5px;
    position: absolute;
    top: 12px;
    left: 6px;
    color: transparent;
    pointer-events: none;
    transition: color .3s ease-in, transform .3s ease-out, top .3s ease;
}

.data-modal-pass .data-modal-input input{
    height: 30px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--contour-color);
    border-radius: 2px;
}

.data-modal-pass .data-modal-input input:focus::placeholder{
    color: transparent;
}

.data-modal-pass .data-modal-input input:focus ~ label{
    color: var(--main-color);
    background-color: var(--bg-light-white);
    font-size: 12px;
    top: -2px;
}

.data-modal-pass button{
    width: 100%;
    margin-top: 10px;
    height: 35px;
}

/*Modal para confirmar el cambio de contraseña*/

.options--data-modal .confirmChangePass{
    width: 400px;
    padding: 20px;
    background-color: var(--bg-light-gray);
}

.options--data-modal .confirmChangePass h3{
    font-size: 16px;
    padding: 10px 0;
}

.options--data-modal .confirmChangePass div{
    display: flex;
    gap: 10px;
}

.options--data-modal .confirmChangePass button{
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: 1px solid var(--contour-color);
    background-color: var(--main-color);
    color: var(--font-btn-white);
}

.options--data-modal .confirmChangePass button:hover{
    filter: contrast(1.5);
}

.options--data-modal .confirmChangePass button:last-child{
    background-color: var(--font-btn-white);
    color: var(--main-color);
}

.options--data-modal .confirmChangePass button:last-child:hover{
    filter: contrast(1.5);
}

/* --------------------------------------------------------------- */
/* Estampa del fondo */
/* --------------------------------------------------------------- */

.decoration_tech{
    position: absolute;
    top: 0;
    left: 50dvw;
    width: 100%;
    height: 100%;
    background-image: url('../img/User_bg-decoration-tech.png');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 10;
    mix-blend-mode: overlay;
}

.decoration_user{
    position: absolute;
    top: 10vh;
    left: 30dvw;
    width: 100%;
    height: 100%;
    background-image: url('../img/User_bg-decoration-user.png');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 10;
    mix-blend-mode: overlay;
}

/* --------------------------------------------------------------- */
/* Media queries */
/* --------------------------------------------------------------- */

@media (min-width: 501px) and (max-width: 800px) {

    body{
        height: auto;
        overflow-y: auto;
    }

    .main-container{
        height: 88%;
        padding: 20px 0 50px;
    }

    .user{
        height: auto;
        width: 90%;
        margin-top: 50px;
    }

    .user__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
    }

    .user__options{
        width: 100%;
        justify-self: center;
        display: flex;
        flex-direction: column;
    }

    .user__container--data,
    .user__container--stats,
    .user__container--support,
    .user__container--close{
        grid-column: 1/3;
    }

    #user-data,
    #stats-data,
    #help-data,
    #closeBtn {
        align-self: flex-end !important;
    }

    /*Estilo datos del perfil*/
    .user__container--profile{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;
    }

    /*Etilización sección tickets*/
    .user__container--tickets{
        grid-column: 2/3;
        grid-row: 1/3;
        width: 100%;
    }

    /* Distribución resto de las funciones */
    .user__container--data,
    .user__container--stats,
    .user__container--support,
    .user__container--close{
        grid-column: 1/3;
    }

    /*Decoración del fondo*/
    
    .decoration{
        bottom: 0;
        left: 20dvw;
        width: 150%;
        height: 100%;
    }

    .decoration{
        top: 25dvh;
        left: 50dvw;
        width: 80%;
        height: 70%;
        rotate: 15deg;
    }

    /*modal*/

    .modalUser,
    .modalStats,
    .modalHelp{
        width: 550px;
        height: 500px;
    }

}

@media (max-width: 500px)  {

    body{
        height: auto;
        overflow-y: auto;
    }

    .main-container{
        height: 88%;
        padding: 20px 0 50px;
        overflow-y: auto;
    }

    .user{
        height: 100%;
    }
    
    .user__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.3fr repeat(5, .8fr);
        gap: 15px;
    }

    .user__options{
        width: 100%;
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    #user-data,
    #stats-data,
    #help-data,
    #closeBtn {
        align-self: flex-end !important;
    }

    /*Estilo datos del perfil*/
    .user__container--profile{
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;
    }

    .user__container--profile img{
        grid-column: 1/2;
        grid-row: 1/5;
        align-self: center;
        justify-self: center;
        margin-bottom: 0;
    }

    .user__container--profile h3,
    .user__container--profile p{
        grid-column: 2/3;
    }

    .user__container--profile h3{
        align-self: end;
    }
    
    .user__container--profile h3 + p{
        align-self: end;
    }

    .user__container--profile p:nth-child(2){
        align-self: center;
    }

    .user__container--profile p:last-child{
        align-self: start;
        position: relative;
        bottom: 12px;
    }

    /*Etilización sección tickets*/
    .user__container--tickets{
        width: 100%;
        grid-row: 2/3;
    }

    .user__container--tickets div:first-child{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .user__container--tickets div:first-child img{
        height: 20px;
        width: 20px;
    }

    /*Modal cambiar datos usuario*/

    .modalUser .modal__contenido--foto-perfil{
        margin-top: 35px;
    }

    .modalUser{
        width: 380px;
        height: 550px;
    }

    .modal__contenido--datos-usuario .modal__contenido--datos-usuario-form{
        grid-template-columns: 1fr !important;
    }

    /*Decoración del fondo*/
    
    .decoration{
        bottom: 0;
        left: 20dvw;
        width: 150%;
        height: 100%;
    }

    .decoration{
        top: 25dvh;
        left: 50dvw;
        width: 80%;
        height: 70%;
        rotate: 15deg;
    }

    /*modal*/

    .modalStats,
    .modalHelp{
        width: 380px;
        height: 500px;
    }

    .modal__contenido{
        padding: 0 0 50px 20px;
        grid-template-columns: 30% 70%;
    }
    .modalUser .modal__contenido--foto-perfil img{
        width: 100px;
        height: 100px;
    }

}