<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketMC | Mis tickets</title>
    <link rel="stylesheet" href="css/tickets.css">
    <link rel="stylesheet" href="css/ticketAnimations.css">
</head>
<body>
    <header>
        <!-- <a href="#">TicketMC</a> -->
        <section class="logo">
            <p>
                TicketMC
            </p>
        </section>
        <section class="profile">
            <!-- <img src="" alt="imagen_usuario"> -->
            <span>Mi perfil</span>
            <p></p>
            <ul>
                <li>Mi perfil</li>
                <li>Cerrar sesión</li>
            </ul>
        </section>
    </header>
    <section class="container">
        <nav class="container__nav">
            <section>
                <h2 class="container__nav--title">Categorias</h2>
                <ul class="container__nav--list">
                    <li><a id="nav--list-btn-main">Tickets abiertos</a></li>
                    <li><a id="nav--list-btn-completed">Tickets resueltos</a></li>
                    <li><a id="nav--list-btn-history">Historial de tickets</a></li>
                </ul>
            </section>
            <section class="container__nav--config">
                <span id="container__nav--config-btn">Configuración</span>
                <dialog class="nav--config-modal" id="nav--config-modal">
                    <div class="config-modal--title">
                        <div class="">
                            <h3>Opciones de usuario</h3>
                            <p>Gestiona tus preferencias aquí</p>
                        </div>
                        <p id="config-modal--exit" class="config-modal--exit">x</p>
                    </div>
                    <div class="config-modal--profile">
                        <button>Ver perfil</button>
                    </div>
                    <div class="cofig-modal--mailing">
                        <h4>Preferencias de notificaciones</h4>
                        <div class="modal--mailling--input_container">
                            <label class="config-modal--switch">
                                <input type="checkbox" id="notificaciones_mail" checked>
                                <span class="switch-slider"></span>
                            </label>
                            <p>Notificaciones por correo</p>
                        </div>
                    </div>
                    <div class="cofig-modal--aparience">
                        <h4>Apariencia</h4>
                        <div class="modal--aparience--input_container">
                            <label class="config-modal--switch">
                                <input type="checkbox" id="tema_oscuro">
                                <span class="switch-slider"></span>
                            </label>
                            <p>Modo oscuro</p>
                        </div>
                    </div>
                    <button>
                        <label for="">
                        <img src="img/ticket_exit.png" alt="">
                        </label> 
                        Cerrar sesión
                    </button>
                </dialog>
            </section>
        </nav>
        <main id="container__ticket" class="container__ticket">
            <dialog id="modal" class="container__ticket--details">
                <section class="details">
                    <div class="details__header--container">
                        <div class="details__header">
                            <div class="details__header--title">
                                <h2 class="details--title">Título del ticket</h2>
                            </div>
                            <div class="details__header--response">
                                <button id="details__header--response-btn">Responder</button>
                            </div>
                        </div>
                        <div class="details__data">
                            <div class="details__data--state">
                                <p>
                                    <span>Estado: </span><span class="details--state">Estado del ticket</span>
                                </p>
                                <p>
                                    <span>Prioridad: </span><span class="details--prio">Prioridad del ticket</span>
                                </p>
                            </div>
                            <div class="details__data--date">
                                <p>
                                    <span>Fecha: </span>Fecha del ticket
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="details__description">
                        <p class="details--description">
                            Lorem: Ipsum dolor sit sit amet, consectetur adipiscing elit. Donec ornare enim a efficitur laoreet. Sed ullamcorper laoreet magna, eget ornare justo ornare eu. Aenean sagittis, ipsum a laoreet maximus, leo mauris vehicula magna, ut facilisis ipsum lacus eget ipsum. Vestibulum elementum elit in nisi tempus gravida. Quisque sit amet ante. eget ornare justo ornare eu. Aenean sagittis, ipsum a laoreet maximus, leo mauris vehicula magna, ut facilisis ipsum lacus eget ipsum. Vestibulum elementum e
                        </p>
                    </div>
                    <div class="details__images">
                        <p>Imágenes anexas</p>
                        <div>
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </section>
            </dialog>       
            <section id="container__ticket--ticket-filters" class="container__ticket--filters">
                <section class="container__ticket--type">
                    <button>Recibidos</button>
                    <button>Solucionados</button>
                </section>
                <section class="container__ticket--searcher">
                    <div>
                        <input type="text" placeholder="Buscar">
                    </div>
                    <div>
                        <button></button>
                    </div>
                </section>
            </section>
            <section id="container__ticket--ticket" class="container__ticket--ticket">
            </section>
            <section id="container__resolve" class="container__resolve">
                <div class="container__resolve--title">
                    <h2>Ticket # <span class="resolve--title-number">000</span></h2>
                </div>
                <div class="container__resolve--response">
                    <article class="resolve--response-ticket">
                        <div>
                            <h3>Detalles del ticket</h3>
                        </div>
                        <div class="response-ticket-container">
                            <div class="response-ticket-title">
                                <h4 class="response-ticket-title__name">Ticket name</h4>
                            </div>
                            <div class="response-ticket-prio">
                                <p>Prioridad: <span class="response-ticket-prio__data">Prio</span></p>
                            </div>
                            <div class="response-ticket-description">
                                <p class="response-ticket-description__text">Descripción</p>
                            </div>
                        </div>
                    </article>
                    <article class="resolve--response-answer">
                        <h3>Resuelve el ticket</h3>
                        <textarea name="" id=""
                                    placeholder="Escribe la solución aquí..."
                        ></textarea>
                        <h4>Adjuntar archivo</h4>
                        <input type="file" multiple accept="image/*">
                        <div class="response-answer-btn">
                            <button class="response-answer-btn-cancel">Cancel</button>
                            <button class="response-answer-btn-send">
                                <img src="img/ticket_response_send.png" alt="">
                                Enviar respuesta</button>
                        </div>
                    </article>
                </div>
            </section>
            <section id="container__history" class="container__history">
                algo
            </section>
            <section id="container__completed" class="container__completed">
                <section class="container__completed--ticket">
                    <div class="completed--ticket-title">
                        <h2>Nombre del ticket</h2>
                        <span>Resuelto</span>
                    </div>
                    <div class="completed--ticket-solution">
                        <div class="ticket-solution-title">
                            <h3>Tech name</h3>
                            <span>Fecha</span>
                        </div>
                        <p>Solution description</p>
                    </div>
                    <div class="completed--ticket-problem">
                        <div class="ticket-problem-title">
                            <h3>Usuario name</h3>
                            <span>Fecha</span>
                        </div>
                        <p>Problem description</p>
                    </div>
                    <div class="completed--ticket-details">
                        <button id="completed-open-details">Ver detalles del ticket</button>
                    </div>
                </section>
                <dialog id="completed--deatils-modal" class="container__completed--details container__ticket--details">
                    <section class="details">
                        <div class="details__header--container details__header--container-response">
                            <div class="details__header">
                                <div class="details__header--title">
                                    <h2 class="details--title">Título del ticket</h2>
                                </div>
                            </div>
                            <div class="details__data">
                                <div class="details__data--state">
                                    <p>
                                        <span>Estado: </span><span class="details--state">Estado del ticket</span>
                                    </p>
                                    <p>
                                        <span>Prioridad: </span><span class="details--prio">Prioridad del ticket</span>
                                    </p>
                                </div>
                                <div class="details__data--date">
                                    <p>
                                        <span>Fecha: </span>Fecha del ticket
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="details__description">
                            <p class="details--description">
                                Lorem: Ipsum dolor sit sit amet, consectetur adipiscing elit. Donec ornare enim a efficitur laoreet. Sed ullamcorper laoreet magna, eget ornare justo ornare eu. Aenean sagittis, ipsum a laoreet maximus, leo mauris vehicula magna, ut facilisis ipsum lacus eget ipsum. Vestibulum elementum elit in nisi tempus gravida. Quisque sit amet ante. eget ornare justo ornare eu. Aenean sagittis, ipsum a laoreet maximus, leo mauris vehicula magna, ut facilisis ipsum lacus eget ipsum. Vestibulum elementum e
                            </p>
                        </div>
                        <div class="details__images">
                            <p>Imágenes anexas</p>
                            <div>
                                <p></p>
                                <p></p>
                                <p></p>
                            </div>
                        </div>
                        <div class="details__response">
                            <div class="details__response--title">
                                <h3>Respuesta: </h3>
                            </div>
                            <div class="details__response--data">
                                <p class="response--data-tech">Nombre del técnico</p>
                                <p class="response--data-date">Fecha</p>
                            </div>
                            <div class="details__response--description">
                                <p class="response--description-text">Lorem Ipsum</p>
                            </div>
                            <div class="details__response--images details__images">
                                <p>Imágenes anexas</p>
                                <div>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </dialog>
                <script>
                    const openResponseBtn = document.getElementById('completed-open-details');
                    const responseSumaryModal = document.getElementById('completed--deatils-modal');
    
                    openResponseBtn.addEventListener('click', ()=>{
                        responseSumaryModal.showModal();
                    })
    
                    responseSumaryModal.addEventListener('click', e =>{
                        const dialogDimensions = responseSumaryModal.getBoundingClientRect();
    
                        //TODO : La animación de entrada no funciona
                        responseSumaryModal.classList.add('fade-in-modal');
                        responseSumaryModal.showModal();
                        responseSumaryModal.addEventListener('animationend', ()=>{
                            responseSumaryModal.classList.remove('fade-in-modal');
                        })
    
                        if (
                            e.clientX < dialogDimensions.left ||
                            e.clientX > dialogDimensions.right ||
                            e.clientY < dialogDimensions.top ||
                            e.clientY > dialogDimensions.bottom
                        ) {
                            //agrega una animación a la salida del modal
                            responseSumaryModal.classList.add('fade-out-modal');
                            
                            //tras ocurrir la animación, la animación se remueve
                            responseSumaryModal.addEventListener('animationend', () => {
                                responseSumaryModal.close();
                                responseSumaryModal.classList.remove('fade-out-modal');
                            }, {once: true});
                        }
                    })
                </script>
            </section>
        </main>
    </div>
    <script src="js/ticketComponents.js"></script>
    <script src="js/ticketCargarVista.js"></script>
    <script src="js/ticketConfigModal.js"></script>
    <script src="js/ticketCreatorStyle.js"></script>
    <script src="js/ticketStyle.js"></script>
    <script src="js/ticketAssig.js"></script>
    <script src="js/ticketModalsTemplates.js"></script>
    <script src="js/ticketViewTransition.js"></script>
    <script src="js/ticketDarkTheme.js"></script>

    <script src="../../services/crearTIckets.js"></script>
    <script src="../../services/responderTicket.js"></script>
</body>
</html>